In [3]:
from patsy import *
import pandas as pd

# 1. 두가지 값이 있는 경우

In [4]:
df1 = pd.DataFrame(["남", "남", "여", "여"], columns=["x1"])
df1

  x1
0  남
1  남
2  여
3  여

### 1) full rank

In [5]:
dmatrix("x1", df1)

DesignMatrix with shape (4, 2)
  Intercept  x1[T.여]
          1        0
          1        0
          1        1
          1        1
  Terms:
    'Intercept' (column 0)
    'x1' (column 1)

### 2) reduce rank

+0 또는 -1을 붙여주면 된다

In [6]:
dmatrix("x1+0", df1)

DesignMatrix with shape (4, 2)
  x1[남]  x1[여]
      1      0
      1      0
      0      1
      0      1
  Terms:
    'x1' (columns 0:2)

full rank는 남,여에 따라 부여되는 가중치가 같다. reduce rank는 남여에 따른 가중치가 다르다

# 2. 세가지 이상 값

In [7]:
df2 = pd.DataFrame(["A", "A", "B", "AB", "O", "B", "AB"], columns=["x2"])
df2

   x2
0   A
1   A
2   B
3  AB
4   O
5   B
6  AB

In [8]:
dmatrix("x2", df2)

DesignMatrix with shape (7, 4)
  Intercept  x2[T.AB]  x2[T.B]  x2[T.O]
          1         0        0        0
          1         0        0        0
          1         0        1        0
          1         1        0        0
          1         0        0        1
          1         0        1        0
          1         1        0        0
  Terms:
    'Intercept' (column 0)
    'x2' (columns 1:4)

In [9]:
dmatrix("x2 + 0", df2)

DesignMatrix with shape (7, 4)
  x2[A]  x2[AB]  x2[B]  x2[O]
      1       0      0      0
      1       0      0      0
      0       0      1      0
      0       1      0      0
      0       0      0      1
      0       0      1      0
      0       1      0      0
  Terms:
    'x2' (columns 0:4)

# 3. c() 연산자

숫자이지만 범주형 데이터로 명시할 때

In [10]:
df3 = pd.DataFrame([1, 2, 3, 4], columns=["x3"])
df3

   x3
0   1
1   2
2   3
3   4

In [11]:
dmatrix("C(x3) + 0", df3)

DesignMatrix with shape (4, 4)
  C(x3)[1]  C(x3)[2]  C(x3)[3]  C(x3)[4]
         1         0         0         0
         0         1         0         0
         0         0         1         0
         0         0         0         1
  Terms:
    'C(x3)' (columns 0:4)